*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0;
    padding: 1%;
    font-family: monospace;
}
main{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
}
header{
    width: 100%;
    text-align: center;
}
figure{
    width: 100%;
    margin: 0;
    background-color: white;
}
figcaption{
    text-align: center;
}
img{
    max-width: 100%;
}
article{
    display: block;
    width: 80%;
    margin: 5% auto;
}
article p{
    text-align: left;
    line-height: 28px;
}
article p span{
    font-weight: bold;
    font-size: 30px;
    margin-right: 2px;
    
}
p{
    text-align: center;
    font-size: 18px;
}
footer{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
footer q{
    display: block;
    margin: 2% 0;
}
footer a{
    display: inline-block;
    margin: 1.5% 0 ;
    text-decoration: none;
    color: black; 
    font-size: 18px;
}
footer a:hover{
    color: gray;
}